@import "tailwindcss";
.gradient-glow {
  font-size: clamp(3rem, 9vw, 7rem);
  font-weight: 900;
  background: linear-gradient(90deg, #000, #555, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.08em;

  text-shadow:
    0 0 10px rgba(0,0,0,0.4),
    0 0 30px rgba(0,0,0,0.2);

  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% { background-position: 0%; }
  100% { background-position: 200%; }
}
